/.vscode
*.py[cod]
*.so
*.egg
*.egg-info
FeatureExtractor/results
FeatureExtractor/data
FeatureExtractor/.cache
*.out
/.pycharm
checkpoints
*.pickle
*.log
*.bin
*.idx
*.json
*.pt
*.pdf
*.o
*.tags
MFEN_Sim/cache
MFEN_Sim/data_file
MFEN_Sim/checkpoints
MFEN_Sim/codebert
*.results
*.log
*.db
*.sqlite
*.result
eval
*.npy
*.pickle
*.pdf
*.pth
