/.vscode
*.py[cod]
*.so
*.egg
*.egg-info
FeatureExtractor/results
FeatureExtractor/data
FeatureExtractor/.cache
*.out
/.pycharm
checkpoints
*.pickle
*.log
*.txt
*.bin
*.idx
*.json
*.pt
*.pdf
*.o
*.tags
MFEN-Sim/cache/*
MFEN-Sim/data_file/*
MFEN-Sim/checkpoints/*
MFEN-Sim/codebert
*.results
*.log
*.db
*.sqlite
*.result
eval
*.npy
*.pickle
*.pdf
*.pth
